<h3>{{code}}</h3>
{{#if isEditing}}
  {{view Ember.TextField
    valueBinding = "code"
    placeholder = "Group name"
    action="saveSurveyGroup"}}
  <button {{action 'saveEdit'}}>Save</button>
  <button {{action 'cancelEdit'}}>Cancel</button>
{{else}}
  <button {{action 'edit'}}>Edit name</button>
  <button {{action 'deleteSurveyGroup'}} {{bindAttr disabled=disableDelete}}>Delete this group</button>
  {{#linkTo 'surveys.new'}}Create new survey{{/linkTo}}
{{/if}}
<div>
<ul>
{{#each surveys.arrangedContent}}
  {{survey-detail name=name}}
{{/each}}
</ul>
</div>