<div style="float:left; width: 30%">
{{view Ember.TextField valueBinding="code"
  placeholder="Type the name of your survey"}}

<br>

{{view Ember.TextArea valueBinding="description"
  placeholder="Type in the description of your survey"}}
  
<br>
version: {{version}}
<br>
ID number: {{id}}
<br>
{{view Ember.Select 
      contentBinding="pointTypes" 
      optionLabelPath="content.label" 
      optionValuePath="content.value" 
      valueBinding="pointType" 
      prompt=""
      promptBinding="Ember.STRINGS._select_survey_type"}}
<br>
{{view Ember.Select
      contentBinding="languages"
      optionLabelPath="content.labelShort"
      optionValuePath="content.value"
      valueBinding="defaultLanguageCode"
      prompt=""
      promptBinding="Ember.STRINGS._select_language"}}
<br>
<button>Manage translations</button>
<br>
<button>Manage notifications</button>
<br>
<div>Survey summary
<br>
Number of Question Groups:
<br>
Number of Questions:
<br>
Status:
</div>
<button {{action 'save'}} {{bindAttr disabled=disableSave}}>Save</button>
<button {{action 'preview'}} {{bindAttr disabled=disablePreview}}>Preview</button>
<button {{action 'publish'}} {{bindAttr disabled=disablePublish}}>Publish</button>
</div>
<div style="float:left;width:70%">
<div style="float:right;">{{#if surveyGroup}}{{#link-to 'survey_group' surveyGroup}}Back to survey overview{{/link-to}}{{/if}}</div>
<div style="clear:both"></div>
<div>
<ul>
{{#each questionGroups.arrangedContent itemController="question_group"}}
  <li>{{uName}} <button {{action 'show'}}>{{#if isShowing}}Hide{{else}}Show{{/if}}</button></li>
  <ul>
    {{#each questions.arrangedContent itemController="question"}}
      <li>{{text}}</li>
    {{/each}}
  </ul>
{{/each}}
</ul>
</div>
</div>
<div style="clear:both"></div>