<h3>{{code}}</h3>
{{#if isEditing}}
  {{view Ember.TextField
    valueBinding = "code"
    placeholder = "Group name"
    action="saveSurveyGroup"}}
  <button {{action 'saveEdit'}} {{bindAttr disabled=disableSave}}>Save</button>
  <button {{action 'cancelEdit'}} {{bindAttr disabled=disableCancel}}>Cancel</button>
{{else}}
  <button {{action 'edit'}}>Edit name</button>
  <button {{action 'deleteSurveyGroup'}} {{bindAttr disabled=disableDelete}}>Delete this group</button>
  {{#link-to 'surveys.new' this.id}}Create new survey{{/link-to}}
{{/if}}
<div>
<ul>
{{#each surveys.arrangedContent}}
  <li>{{code}} {{#link-to 'survey' this}}<button>edit</button>{{/link-to}} <button>preview</button> <button>delete</button> <button>copy</button></li>
{{/each}}
</ul>
</div>