{{#view FLOW.UserListView}}
<!-- Available roles: {{t _ADMIN}} {{t _SUPER_ADMIN}} {{t _USER}} -->
<div class="greyBg">
  <section id="" class="fullWidth usersList"> 
	<h1>{{t _manage_users_and_user_rights}}</h1>
 <a {{action showAddUserDialog}}class="standardBtn btnAboveTable" >{{t _add_new_user}}</a>
    <!-- userS TABLE-->
    <table id="usersListTable" class="dataTable" >
      <!-- TABLE HEADER-->
      <thead>
        <tr>
           {{#view FLOW.ColumnView item="userName" type="user"}}
                  <a {{action "sort" target="this"}} class="userName">{{t _user_name}}</a>
           {{/view}}
           {{#view FLOW.ColumnView item="emailAddress" type="user"}}
                  <a {{action "sort" target="this"}} class="emailAdr">{{t _email}}</a>
           {{/view}}
            {{#view FLOW.ColumnView item="permissionList" type="user"}}
                  <a {{action "sort" target="this"}} class="emailAdr">{{t _permission_level}}</a>
                  {{tooltip _there_are_three_permission_levels}}
           {{/view}}
          <th class="action noArrows" >{{t _actions}}</th>
        </tr>
      </thead>
      <!-- TABLE BODY: MAIN CONTENT-->
      <tbody>
        {{#each user in content}}
        
          <tr>
            <td class="userName" style="text-align:left; padding:0 0 0 20px;">{{user.userName}}</td>
            <td class="emailAdr" style="text-align:left;">{{user.emailAddress}}</td>
            {{#view FLOW.SingleUserView contentBinding="user"}}
              <span {{bindAttr class="view.roleClass"}}>{{view.roleLabel}}</span>
             {{/view}}
            <td class="action"> <a {{action showEditUserDialog user}} class="edit">{{t _edit}}</a> {{#view FLOW.UserView contentBinding="user"}}<a {{action confirmDeleteUser user}} class="remove">{{t _remove}}</a>{{/view}}
        
            </td>
          </tr>
         
        {{/each}}
      </tbody>
      
      <!-- TABLE FOOTER-->
      <tfoot>
        <tr>
          <td colspan="7"><small>This is the footer.</small></td>
        </tr>
      </tfoot>
    </table>
  </section>
</div>

   <!-- new user dialog-->
    <div {{bindAttr class="showAddUserBool:display :overlay"}}>
      <div class="blanket"></div>
          <div class="dialogWrap">
        <!-- the dialog contents -->
        <div class="confirmDialog dialog">
          <h2>{{t _add_new_user}}</h2>
          <p class="dialogMsg">{{t _please_provide_a_user_name_}}.</p>
          
          <label for="newUserName">{{t _username}}:</label> {{view Ember.TextField valueBinding="currentUser.userName" id="newUserName" size=40}}<br/>
           <label for="newEmail">{{t _email_address}}:</label> {{view Ember.TextField valueBinding="currentUser.emailAddress" id="newEmail" size=40}}<br/>
          
            {{view Ember.Select 
            contentBinding="FLOW.permissionLevelControl"
            optionLabelPath="content.label"
            optionValuePath="content.value"
            valueBinding="currentUser.permissionList"
            prompt=""
            promptBinding="Ember.STRINGS._select_permission_level"}}
 
          <div class="buttons menuCentre"> 
            <ul>  
               <li><a {{action doAddUser}} class="ok smallBtn">{{t _save}}</a></li>
              <li><a {{action cancelAddUser}}} class="cancel">{{t _cancel}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

      <!-- edit existing user dialog-->
    <div {{bindAttr class="showEditUserBool:display :overlay"}}>
      <div class="blanket"></div>
          <div class="dialogWrap">
        <!-- the dialog contents -->
        <div class="confirmDialog dialog">
          <h2>{{t _edit_user}}</h2>
          <p class="dialogMsg">{{t _please_edit_the_username_}}.</p>
          <label for="editUserName">{{t _username}}:</label> {{view Ember.TextField valueBinding="currentUser.userName" id="editUserName" size=40}}<br/>
           <label for="editEmail">{{t _email_address}}:</label> {{view Ember.TextField valueBinding="currentUser.emailAddress" id="editEmail" size=40}}<br/>
          
            {{view Ember.Select 
            contentBinding="FLOW.permissionLevelControl"
            optionValuePath="content.value"
            optionLabelPath="content.label"
            valueBinding="currentUser.permissionList"
            prompt=""
            promptBinding="Ember.STRINGS._select_permission_level"}}
 
          <div class="buttons menuCentre"> 
            <ul>  
               <li><a {{action doEditUser}} class="ok smallBtn">{{t _save}}</a></li>
              <li><a {{action cancelEditUser}}} class="cancel">{{t _cancel}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    {{view FLOW.Dialog
           showBinding="controller.showDeleteUserBool"
           headerBinding="Ember.STRINGS._manage_users_and_user_rights"
           messageBinding="Ember.STRINGS._are_you_sure_you_want_to_delete_this_user"
           doOK="doDeleteUser"}}

{{/view}}